package com.igknighters;

import java.util.ArrayList;
import java.util.List;
import java.util.Optional;
import java.util.function.Supplier;

{%for package in subsystemPackages%}
import {{package}};
{%endfor%}

import com.igknighters.util.BootupLogger;

import edu.wpi.first.wpilibj2.command.Subsystem;

public class SubsystemResources {

    /**
     * a way to pass around data about enabled subsystems
     */
    public enum Subsystems {
{%for ss in subsystems%}
        {{ss}}("{{ss}}"),
{%endfor%}
        ;

        public final String name;

        Subsystems(String name) {
            this.name = name;
        }

        /**
         * a prettier way to make an array of subsystems
         * @param subsystems
         * @return an array of subsystems
         */
        public static Subsystems[] list(Subsystems... subsystems) {
            return subsystems;
        }

        /**
         * a prettier way to make an array of subsystems
         * @param subsystems
         * @return an array of subsystems
         */
        public static Subsystems[] list(String... subsystems) {
            for (String subsystem : subsystems) {
                if (!subsystemExists(subsystem)) {
                    throw new IllegalArgumentException("Subsystem " + subsystem + " does not exist");
                }
            }
            Subsystems[] subsystemsArray = new Subsystems[subsystems.length];
            for (int i = 0; i < subsystems.length; i++) {
                subsystemsArray[i] = Subsystems.valueOf(subsystems[i]);
            }
            return subsystemsArray;
        }

        public static Subsystems[] all() {
            return Subsystems.values();
        }

        public static Subsystems[] none() {
            return new Subsystems[] {};
        }

        public static boolean subsystemExists(String subsystem) {
            for (Subsystems subsystem1 : Subsystems.values()) {
                if (subsystem1.name.equals(subsystem)) {
                    return true;
                }
            }
            return false;
        }
    }

    public static class AllSubsystems {
        private Subsystems[] subsystems;
        private List<Subsystem> subsystemsList = new ArrayList<>();

{%for ss in subsystems%}
        public Optional<{{ss}}> {{ss|lower}} = Optional.empty();
{%endfor%}

        public AllSubsystems(Subsystems... subsystems) {
            this.subsystems = subsystems;
            for (Subsystems subsystem : subsystems) {
                switch (subsystem) {
{%for ss in subsystems%}
                    case {{ss}}:
                        {{ss|lower}} = createSubsystem({{ss}}::new);
                        break;
{%endfor%}
                    default:
                        break;
                }
            }
        }

        private <T extends Subsystem> Optional<T> createSubsystem(Supplier<T> subsystemSupplier) {
            T subsystem = subsystemSupplier.get();
            BootupLogger.bootupLog("Subsystem " + subsystem.getClass().getSimpleName() + " created");
            subsystemsList.add(subsystem);
            return Optional.of(subsystem);
        }

        public Subsystems[] getEnabledSubsystemEnums() {
            return subsystems;
        }

        public List<Subsystem> getEnabledSubsystems() {
            return subsystemsList;
        }

        public boolean hasAllSubsystems() {
{%for ss in subsystems%}
            if (!{{ss|lower}}.isPresent()) {
                return false;
            }
{%endfor%}
            return true;
        }
    }
}
